@import url('https://fonts.googleapis.com/css2?family=Inter:ital@0;1&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

#myList {
  display: none;
  list-style-type: none;
  padding: 0;
  transition: ease-in-out;
  transition-duration: 200ms;
}
#myList li {
  margin: 5px 0;
}

 @media (min-width: 1024px) {
      #myList {
        display: none !important;
      }
    }
